{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block page_title %} Kinoman {% endblock page_title %}</title>
{#    <!-- fonts -->#}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@700&display=swap"
            rel="stylesheet"
    />
{#    <!-- Bulma -->#}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
{#    <!-- icons -->#}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css"
    />
{#    <!-- styles -->#}
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
</head>
<body>
{#<!-- MODAL -->#}
{% if not user.is_authenticated %}
    {% include 'modal_auth.html' %}
{% endif %}
{#<!-- NAVIGATE BAR -->#}
{% include 'top_bar.html' %}
{#<!-- CONTENT -->#}
<div class="content block">{% block content %}{% endblock %}</div>
{#<!-- FOOTER -->#}
{% include 'footer.html' %}

{#SCRIPTS#}
<script src="{% static 'script.js' %}"></script>
</body>
</html>
